@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,200;0,700;0,900;1,100;1,500&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
/* body{
    display: flex;
    background-image: 
    linear-gradient(rgba(0 0 0 / 15%), rgba(0, 0, 0, 0.5)), url(/introcomputer/myportfolios/images/star.jpg);
    font-family: 'Open Sans', sans-serif;
} */
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --primary: #a59934;
    --secondary: #a1a1a1;
    --github: #a1a1a1;
    --third: #ffee32;
    --fourth: #1ed760;
    --background: #034f89;
}
.dark-mode{
    --primary: #000;
    --secondary: #000;
    --github: #a1a1a1;
    --third: #1ed760;
    --fourth: #ffee32;
    --background:#282828;
}
.scroll-up-btn{
    position: fixed;
    height: 43px;
    width: 40px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(80%);
    color: #152744;
    background-color: rgba(255, 255, 255, 0.486);
}

.maxwidth{
    max-width: 1300px;
    padding: 50 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0px;
    transition: all .4s ;
    background: #668ba400;
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
}
ul li a{
    position: relative;
    display: block;
    color: transparent;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.2em;
}
.navbar .menu li a:hover{
    color: var(--fourth);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}
/* ul li a::after,
ul li a::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
}
ul li a:hover::before{
    color: #ff0000;
    z-index: 1;
    transform: translate(9px, -9px);
}
ul li a:hover::after{
    color: #00e4ff;
    z-index: 2;
    transform: translate(20px, -20px);
} */

.navbar.sticky .menu li a:hover{
    color: #feffdf;
    background-color: #668ba400;
}
.navbar.sticky{
    color: #feffdf;
    background: #03427200;
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
}
.navbar .maxwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.navbar .logo img{
    width: 80px;
    height: 50px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--third);
    font-size: 15px;
    font-weight: 600;
    margin-left: 50px;
    transition: all 0.4s ease;
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
}
.switch{
    font-size: 25px;
    margin-left: 30px;
    cursor: pointer;
    color: var(--third);
}
.menu-btn{
    color: var(--third);
    font-size: 23px;
    cursor: pointer;
    display: none;
    
}
section{
    padding: 100px 0;
    background-color: var(--background);
}
section .title{
    text-transform: uppercase;
    color: var(--third);
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px; 
}
section .title::before{
    content: "";
    position: absolute;
    bottom: -177px;
    left: 50%;
    width: 180px;
    height: 4px;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -190px;
    left: 50%;
    font-size: 20px;
    color: #668ba4;
    padding: 5px;
    transform: translateX(-50%);
}


/* Homer */
.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: var(--background);
    box-shadow: var(--background) 3px 10px 2px 5px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}

#head1{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5{
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 1;}
  to{opacity: 3;}
}

@-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}


/* .area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

} */
.toggle{
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    border: 2px solid #000;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.home{
    display: flex;

    /* background: linear-gradient(rgba(0 0 0 / 15%), rgba(0, 0, 0, 0.5)), url(spikesa.jpg); */
    background-image: url(spikesa.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    min-height: 500px;
    font-family: 'MuseoModerno', cursive;
}
.home.night{
    background-image: url(beraki.png);
    background-repeat: no-repeat;
    background-size: cover;
}   
.home .maxwidth{
    margin: auto 0 auto 40px;
}
.homecontent {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
.home .homecontent .animate__animated{
    position: relative;
    color: transparent;
    /* color: var(--third); */
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--third);
    font-size: clamp(1.875rem, 1.1097rem + 3.2653vw, 4.375rem);
    font-weight: 900;
    font-family: 'MuseoModerno', cursive;
    line-height: 1rem;
}   
h2{
    font-family: 'MuseoModerno', cursive;
    margin-top: -30%;
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-size: clamp(1.875rem, 1.1097rem + 3.2653vw, 4.375rem);
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
   /* -webkit-text-stroke: 1px var(--third); */
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}

h2 span{
    color: var(--third);
    font-family: 'MuseoModerno', cursive;
    transition: 0.5 ease;
    /* -webkit-text-stroke: 1px var(--third); */
    /* color: transparent; */
}
.home .homecontent a:hover{
    color: #feffdf;
    background: none;
    line-height: 1rem;
}

/* About */


.social-media i{
    font-size: clamp(0.9375rem, 0.7462rem + 0.8163vw, 1.5625rem);
    margin: 0 10px;
    transition: all 0.4s ease;  
    margin-bottom: 30%;
    color: var(--third);
    line-height: 100px;
    transition: 0.5s linear;
    position: relative;
}
.social-media.night{
    background-image: url(istpgreen.png);
}
img{
    width: 110px;
    height: 140px;
}
i.fa-brands.fa-tiktok:hover{
    color: #ff0050;
}
i.fa-brands.fa-facebook-f:hover{
    color: #4267B2;
}
i.fa-brands.fa-instagram:hover{
    color: #E1306C;
}
i.fa-brands.fa-github:hover{
    color:var(--github);
}

.about .aboutcontent,.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.about .aboutcontent .left{
   width: 45%;
}

.left{
    height: 490px;
    width: 500px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.left .img {
    position: absolute;
    inset: 0;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    /* background: rgb(21, 39, 68);
    box-shadow: rgb(8 16 27) -20px -20px 20px 6px, rgb(34 62 109) -20px -17px; */
    opacity: 0.8;
    transition: all 0.5s ease;
}
.left:hover .img{
    transform: scale(1.1);
    opacity: 1;
}
.about .about-content .right{
    width: 55%;
}
.about .aboutcontent .right .text{
    color: #ffffff;
    font-size: clamp(1.25rem, 0.963rem + 1.2245vw, 2.1875rem);
    font-weight: 500;
    font-family: 'MuseoModerno', cursive;
    margin-bottom: 10px;
}
.about .aboutcontent .right .text span{
    color:var(--third);
    font-weight: 700;
}
.about .aboutcontent .right p{
    color: #ffffff;
    font-size: clamp(0.6875rem, 0.5918rem + 0.4082vw, 1rem);
    font-family: 'MuseoModerno', cursive;
}

.about .aboutcontent .right a{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: var(--third);
    font-size: clamp(0.625rem, 0.5485rem + 0.3265vw, 0.875rem);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.about .aboutcontent .right a:hover{
    color: #152744;
    background-color: rgba(255, 255, 255, 0.486);
}

/* Projects */

#project{
    /* background: linear-gradient(rgba(0 0 0 / 15%), rgba(0, 0, 0, 0.5)), url(ura.png);
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.project-heading span{
    color: #ff0000;
}
.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    background: #668ba42f;
    box-shadow: 0 8px 32px 0 #183d7963;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
}
.project-filter li{
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}
.project-filter-active{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}
.project-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 100px;
}
.project-box{
    width: 300px;
    height: 10%;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    margin: 20px;
    border-radius: 10px;
}
.project-box img:hover{
    padding: 0px;
    transform: scale(1.4);
    transition: all 0.3s ease;
}
.project-box img{
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
}

/* skills */
.h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--third);
    text-transform: uppercase;

}
.skill{
    display: grid;
    grid-gap: 100px;
    padding: 16px;
    max-width: 1024px;
    margin-inline: auto;
    margin-top: 100px;
}

@media screen and (min-width: 600px) {
    .skill{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .skill{
        grid-template-columns: 1fr;
    }
    .about .aboutcontent .left .img{
        height: 300px;
        width: 300px;
    }
    .project-filter{
        width: 90%;
    }
    .project-filter li {
        font-weight: 100;
        font-size: 10px;
        padding: 5px;
    }
    img{
        height: 90px;
        width: 70px;
    }
    .homecontent{
        margin-left: 1%;
        margin-top: -160px;
    }
     
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
.skill .set{
    /* background-color: #094924; */
    padding: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.skill .set:hover{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    transform: scale(1.2);
    
}
.set i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #a1a1a1;
    border-radius: 35%;
    margin-inline: auto;
}
.set h3{
    padding-block: 24px;
    color: #a1a1a1;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
.set .list{
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color: #a1a1a1;
    text-transform: uppercase;
}
.set:hover .list{
    color: #b8aa34;
}
h3:hover{
    color: #b8aa34;
}
i:hover {
    color: #b8aa34;
}







@media (max-width: 991px) {
    .max-width{
        padding: 0 20px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--background);
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 0px;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .logo img{
        width: 100px;
        height: 60px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        color: #feffdf;
    }
    /* .home .homecontent .p1{
        font-size: 50px;
    }
    
    .home .homecontent .p2{
        font-size: 55px;
    } */
    .home .homecontent a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .maxwidth{
        max-width: 930px;
    }
    .about .aboutcontent .column{
        width: 100%;
    }
    .about .aboutcontent .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .aboutcontent .right{
        flex: 100%;
    }
    .about .aboutcontent .left img {
        height: 417px;
        width: 430px;
        object-fit: cover;
        border-radius: 10px;
        border-radius: 21px;
        border-radius: 25px;
        background: #152744;
        box-shadow: 60px 60px 100px #232453, -60px -60px 100px #1c335a;
    }
    /* .about .aboutcontent .right p {
        color: #feffdf;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } */
    .services .servcontent .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skillscontent .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .maxwidth{
        padding:  23px;
    }
    .navbar .logo img{
        width: 65px;
        height: 40px;
    }
    
    /* section .title {
        color: #feffdf;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } */
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .projects .projectscontent .card {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 10px;
        background: rgba( 21, 39, 68, 0.7 );
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 8.5px );
        -webkit-backdrop-filter: blur( 8.5px );
        border-radius: 10px;
        border: 0px solid rgba( 255, 255, 255, 0.18 );
    }
    .projects .projectscontent {
        display: flex;
        flex-wrap: nowrap;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex-direction: column;
        align-items: center;
    }
        /* .about .aboutcontent .right .text {
        color: #feffdf;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    } */
        /* .about .aboutcontent .right p {
        color: #feffdf;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        text-align: center;
    } */
    .about .aboutcontent .right a {
        display: flex;
        justify-content: center;
        width: 35%;
    }
    
}
@media (max-width: 500px) {

    
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .about .aboutcontent .left img{
        height: 190px;
        width: 200px;
        object-fit: cover;
        border-radius: 10px;
        border-radius: 21px;
        border-radius: 25px;
        background: #152744;
        box-shadow:  60px 60px 100px #232453,
                 -60px -60px 100px #1c335a;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}